div{
  background-color:  hsla(140, 60%, 26%, 0.3);
}


 div.navbar, div.introduction{
    position: fixed;
/*    width: var(--page-width);
    top:var(--page-top);*/
}

footer{
    position: fixed;
}

div.introduction h1, p{
    float: left;
    width: 30%;
}

div.introduction img{
    float: right;
    width: 30%;
    height: 50%;
    grid-column: 4/5;
    grid-row: 1/3;
}
div.assignment{
    position: absolute;
}

p{
    font-family: Helvetica;
    line-height: 20px;
}

li{
    color: rgb(1, 37, 9);
    font-weight: bold;
}
h1{
    transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px darkslategrey;
}